{% extends "layouts/main/main.twig" %}

{% block title %} Tasks {% endblock %}

{% block content %}
    <div id="tasks">
    {% for task in tasks %}
        <div class="card ">
            <div class="card-header text-white bg-dark" id="headerTask{{ task.id }}">
                <div class="mb-0">
                    <span class="task-header collapsed" data-toggle="collapse" data-target="#task{{ task.id }}" aria-expanded="false" aria-controls="task{{ task.id }}">
                       {{ task.title }}
                    </span>
                </div>

            </div>

            <div id="task{{ task.id }}" class="collapse" aria-labelledby="headerTask{{ task.id }}" data-parent="#www">
                <div class="card-body">
                    <div>
                        {{ task.description }}
                    </div>

                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}


